/* SET YOUR GAME CSS HERE */

@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PressStart2PRegular.otf) format("truetype");
}

#UI_ROOT * {
  font-family: "Press Start 2P";
}

@keyframes clignoter {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.7;
  }
}

.UIScore-points {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 50px;
  font-size: 64px;
}

.UIScore-points-p1 {
  position:absolute;
  top:0;
  left:120px;
  translate: 0% 0;
  text-shadow: 4px 4px 4px black;
}

.UIScore-points-p2 {
  position:absolute;
  top:0;
  left:900px;
  translate: 0% 0;
  text-shadow: 4px 4px 4px black;
}

.UIDamier, .UIBackgroundTTT {
  position: absolute;
}

.UIDamier-picture, .UIBackgroundTTT-picture {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}

.UICardHand {
  position: absolute;
}

.UICardHand-picture {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}

.UICardHand-points {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 50px;
  font-size: 12px;
}

.UICardHand-points-t {
  position:absolute;
  top:0;
  left:50%;
  translate: -50% 0;
  text-shadow: 2px 2px 2px black;
}

.UICardHand-points-l {
  position:absolute;
  top:50%;
  left:0;
  translate: 0 -50%;
  text-shadow: 2px 2px 2px black;
}

.UICardHand-points-r {
  position:absolute;
  top:50%;
  right:0;
  translate: 0 -50%;
  text-shadow: 2px 2px 2px black;
}

.UICardHand-points-b {
  position:absolute;
  bottom:0;
  left:50%;
  translate: -50% 0;
  text-shadow: 2px 2px 2px black;
}

/*---------------------------------------------------------------------------------------------*/
/* UI AVATAR
/*---------------------------------------------------------------------------------------------*/
.UIAvatar {
  display: block;
  position: absolute;
  z-index: 11;
  opacity: 0;
}

.UIAvatar.u-middle {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.UIAvatar.u-left {
  left: 0;
  bottom: 0;
  transform: translate(0%, 0%);
}

.UIAvatar.u-center {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.UIAvatar.u-right {
  right: 0;
  bottom: 0;
  transform: translate(0%, 0%);
}

@keyframes ui-avatar-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ui-avatar-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*---------------------------------------------------------------------------------------------*/
/* UI BACKGROUND
/*---------------------------------------------------------------------------------------------*/
.UIBackground {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  z-index: 10;
  opacity: 0;
}

@keyframes ui-background-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ui-background-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}